<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card" style="width: 25rem">
        <p class="text-center font-weight-bold">Movie List</p>
        <img
          class="card-img-top px-3 "
          src="https://cdn.bollywoodmdb.com/fit-in/movies/largethumb/2022/pathan/pathan-poster-8.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Pathan</h5>
          <p class="card-text">
            Pathan is a 2023 Indian Hindi-language action thriller film
            co-written and directed by Siddharth Anand and produced by Aditya
            Chopra under Yash Raj Films.
          </p>
          <a href="#" class="btn btn-primary">Watch Movie</a>
        </div>
      </div>
      <div class="card" style="width: 25rem">
       
        <img
          class="card-img-top"
          src="https://rukminim2.flixcart.com/image/850/1000/l4ssfww0/sticker/i/l/o/medium-superhero-marvel-avengers-poster-for-room-home-wall-decor-original-imagfm4cvgarxgbf.jpeg?q=20" 
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Avengers</h5>
          <p class="card-text">
            Marvel's The Avengers is a 2012 American superhero film based on the
            Marvel Comics superhero team of the same name. Produced by Marvel
            Studios and distributed by Walt Disney Studios
          </p>
          <a href="#" class="btn btn-primary">Watch Movie</a>
        </div>
      </div>
    
    </div>
    <div class="col-4">
      <p class="text-center font-weight-bold">Photos/Images</p>
      <img
        src="https://t3.ftcdn.net/jpg/05/35/47/38/360_F_535473874_OWCa2ohzXXNZgqnlzF9QETsnbrSO9pFS.jpg"
        alt=""
        width="100%"
      />
      <img class="mt-5" src="https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg?cs=srgb&dl=pexels-pixabay-33045.jpg&fm=jpg" alt="" width="100%">
   <img class="mt-5" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-M3b0dy_e1BM1ptov7Z0yQJhulb9829QewQ&usqp=CAU" alt="" width="100%">
    </div>
    <div class="col-3">
      <p class="text-center font-weight-bold display-5">Chore List</p>
      <ol>
        <li>Taking out the trash when it's full.</li>
        <li>Taking the trash out for pickup, if required.</li>
        <li>Unloading, loading, and running the dishwasher if you have one.</li>
        <li>Sweeping the kitchen floor.</li>
        <li>Wiping down countertops.</li>
        <li>Squeegeeing shower doors and walls.</li>
      </ol>
    </div>
  </div>
</div>
